/* Styles for my website */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background:beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background:pink;
    padding:20px 0;
}

.inner-header {
    max-width:  1200px;
    margin:0px auto;
    overflow:hidden; /*why if remove this then the header would dissapear*/
}

#logo {
    width:200px;
    float:left
}

nav ul {
    float:right;
    margin-top:30px;
    list-style-type:none;
}

nav li {
    float:left;
    margin-left:30px;
}

nav a {
    text-decoration:none;
}
#wrapper {
    width:1200px;
    margin:20px auto;
    clear:both;
}

/*nav {
    height:50px;
    background:lightblue;
}*/

#hero {
    background:transparent;
    margin-bottom:20px;
    text-align: center;
}

main {
    width:62%;
    background:lightblue;
    float:left;
}

aside {
    width:35%;
    background:lightsalmon;
    float:right;
}

footer {
    height:60px;
    line-height:60px;
    background:#ddd;
    clear:both;
}

footer ul{
    display:flex;
    justify-content:center;
    list-style-type:none;
}

footer li{
    justify-content:center;
    margin:0 15px;
}

img {
    max-width:100%;
}

/* typography */

p{
margin-bottom:20px;
line-height:1.4;
}

h1 {
    font-size:2.5em;
}

h2 {
    font-size:2em;
}

h3 {
font-family:'Times New Roman', Times, serif;
}

h1, h2, h3 {
    margin-bottom:10px;
}


 /* styles for form.php */

 /* *{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  body{
    background:beige;
  } */
  
  form{
    max-width:400px;
    margin:20px auto;
  }
  
  fieldset {
    border:1px solid black;
    padding:10px;
  }
  label {
    display:block;
    margin:5px 0 ;
    font-weight:bold;
    font-size:1.2em;
  }
  
  input [type=text],
  input[type=email],
  input[type=tel] {
  width:100%;
  display:block;
  margin-bottom:10px;
  height:30px;

  }

  input[type=submit]{
    display:block;
    margin-bottom:10px;
  }
  
  textarea {
    resize:none;
    height:120px;
  }
  h1, h2 {
    text-align:center;
    margin:20px 0;
  }
  
  h2{
    text-align:center;
    margin-bottom:10px;
  }
  
  p {
    text-align:center;
  }

  li{
    list-style-type:none;
  }
  
  .error {
    color:red;
    font-style:italic;
    font-size:.9em;
    margin-top:10px;
    display:block;
  }
  
  .box {
    width:400px;
    border:1px solid green;
    margin:20px auto;
    padding:10px;
  }
